@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-span {
  cursor: pointer;
}

.tracker-box {
  background-color: #4338ca;
  font-size: 14px;
  color: white;
  letter-spacing: 0.09em;
  padding: 15px;
  border-radius: 5px;
  margin-top: 5px;
}

.tracker-box div {
  margin: 5px 0;
}

.tracker-box .validated {
  color: rgba(255, 255, 255, 0.5);
}

.list-icon {
  margin-right: 8px;
}

.green {
  color: rgb(22, 211, 22);
}
